{% extends "petition/base.html" %}

{% block main %}
<h1>Letter to abolish software patents in Australia</h1>

<p id="page-summary">Software patents are dangerous and costly to business and the community. Please sign this letter to support abolishing patents on software.</p>

<p>In August, we will collate the signatures and deliver them to <a href="http://minister.innovation.gov.au/carr/">Senator Kim Carr</a> (the relevant federal minister).</p>

<p>The Australian government is currently reviewing patents legislation, but there is little action to make them aware of the harm that software patents cause. We have an important opportunity to inform our government.</p>

<p>Your sincerely,</p>
<p><em>Ben Sturmfels<br />
Software Freedom Labs</em></p>

<h2>The letter</h2>
<p>Dear Senator Carr,</p>

<p>As a member of the software industry, I urge the Australian government to abolish software patents in the upcoming review of patent legislation.</p>

<h3>1. Patents are not needed for innovation in the software industry </h3>
<p>The software industry has an extensive history of innovating without the use of patents. Specific examples of innovative software developed without patents include:</p>

<ul>
<li>Apache web server (runs approx. 54% of all websites<sup><a class="footref" name="fnr.1" href="#fn.1">1</a></sup>)</li>
<li>Firefox web browser (used in 20-30% of website visits<sup><a class="footref" name="fnr.2" href="#fn.2">2</a></sup>) and</li>
<li>GNU/Linux operating system (used by 91% of the top 500 super-computers in the world<sup><a class="footref" name="fnr.3" href="#fn.3">3</a></sup>)</li>
</ul>

<h3>2. Patents actively discourage innovation in the software industry </h3>

<p>For small to medium-sized developers, it is neither viable to search for and read software patents, nor to defend against patent lawsuits. The need to do so discourages innovation.</p>

<p>The government's 2009 <em>Venturous Australia</em> report found that:</p>

<blockquote style="float: none; width: 100%;">
<p>in new areas of patenting such as software and business methods, there is strong evidence that existing intellectual property arrangements are hampering innovation.<sup><a class="footref" name="fnr.4" href="#fn.4">4</a></sup></p>
</blockquote>

<p>UEAPME is a union which represents small to medium enterprises that employ approx. 55 million people in Europe. They state:</p>

<blockquote style="float: none; width: 100%;">
<p>UEAPME is opposed to the introduction of an EU software patent, which would reinforce monopolisation in the software sector, damage interoperability and act as a barrier to innovation by SMEs. Small firms simply do not have the resources to engage in the costly and time-consuming process of patent application. This would enable dominant large firms in the sector to secure vast numbers of patents and result in crippling litigation costs, which would put small firms out of business.<sup><a class="footref" name="fnr.5" href="#fn.5">5</a></sup></p>
</blockquote>

<p>UK Lord Justice Jacob states:</p>
<blockquote style="float: none; width: 100%;">

<p>If the encouragement of patenting and of patent litigation as industries in themselves were a purpose of the patent system, then the case for construing [exclusions] narrowly (and indeed for removing them) is made. But not otherwise. <sup><a class="footref" name="fnr.6" href="#fn.6">6</a></sup></p>
</blockquote>

<h3>3. A 20 year monopoly is too long in the software industry</h3>

<p>Patents are intended to trade off a short-term monopoly in return for the long-term benefit of disclosing details of the invention to society. For many industries, 20 years is considered short-term. However, due to the rapid evolution of the software industry, withholding a technique for 20 years often renders it useless to the industry and to society.</p>

<h3>4. The software industry has not been well-represented in the recent review</h3>

<p>In 2008, the Advisory Council on Intellectual Property (ACIP) held a public consultation during their Review of Patentable Subject Matter. Microsoft Corporation was the only software industry respondent<sup><a class="footref" name="fnr.7" href="#fn.7">7</a></sup>. It is therefore clear that the software industry cannot be well-represented in the findings of the review. I was not aware of this public consultation, so was unable to make a submission.</p>

<p><br />For the reasons above, I therefore urge the Australian government to abolish software patents.</p>

<p>Yours sincerely,</p>
<p>[Your names]</p>

<h2 class="footnotes">References: </h2>
<p class="footnote"><sup><a class="footnum" name="fn.1" href="#fnr.1">1</a></sup> <a href="http://news.netcraft.com/archives/2010/01/">January 2010 Web Server Survey</a>, Netcraft (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.2" href="#fnr.2">2</a></sup> <a href="http://en.wikipedia.org/wiki/Usage_share_of_web_browsers#Summary_table">Usage share of web browsers</a>, Wikipedia (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.3" href="#fnr.3">3</a></sup> <a href="http://www.top500.org/stats/list/35/osfam">Operating system family share for 06/2010</a>, TOP 500 Project (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.4" href="#fnr.4">4</a></sup> <a href="http://www.innovation.gov.au/innovationreview/Documents/NIS_review_Web3.pdf">Venturous Australia</a>, Cutler & Company, page 12 (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.5" href="#fnr.5">5</a></sup> <a href="http://www.ueapme.com/docs/press_releases/pr_2005/050621_Computer_Patent.pdf">Press Release 21 June 2005</a>, UEAPME (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.6" href="#fnr.6">6</a></sup> <a href="http://www.bailii.org/ew/cases/EWCA/Civ/2006/1371.html">Aerotel v Telco Holdings</a>, British and Irish Legal Information Institute (Accessed 11 July 2010)</p>

<p class="footnote"><sup><a class="footnum" name="fn.7" href="#fnr.7">7</a></sup> <a href="http://www.acip.gov.au/reviewpatentable.html">Written Submissions on the Review of Patentable Subject Matter</a>, Advisory Council on Intellectual Property (Accessed 11 July 2010)</p>

<h2>Please sign</h2>
<form action="" method="post" style="margin-top: 0.5em">
{% csrf_token %}
<fieldset>
<p><em>All fields are required.</em></p>
{{ form.as_p }}
<div><button type="submit">Sign the letter <img src="{{ MEDIA_URL}}images/button-icon-next.png" width="18" height="18" alt="" /></button></div>
</fieldset>
</form>
<p>A <a href="{{ MEDIA_URL }}petition/patents.pdf">printable letter</a> is also available if you'd prefer. (<a href="{{ MEDIA_URL }}petition/patents.tex">source file</a>)</p>
{% include "petition/privacy_and_about.inc.html" %}

<h2>About us</h2>
<p>This letter was organised by Ben Sturmfels &lt;<a href="mailto:ben@sturm.com.au">ben@sturm.com.au</a>&gt; with assistance from members of the <a href="http://www.softwarefreedom.com.au/free-software-melb/">Melbourne Free Software Interest Group</a>.</p>
{% endblock %}
