{% extends "petition/base.html" %}

{% block main %}
<h1>Thanks for signing.</h1>
<p><em>We've sent you an email as confirmation of your signature.</em></p>

<p>Return to <a href="{% url petition.views.petition %}">the letter</a></p>

{% include "petition/privacy_and_about.inc.html" %}
{% endblock %}
